<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Informações do usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body style="margin: 0; padding: 0; background-color: #f9eeeb">
    <center style="background-color:#f9eeeb;">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tbody>
          <tr>
            <td align="center" bgcolor="#002d5c" style="padding: 50px 30px 20px;">
              <img src="<%= header_url %>" alt="MedMobi Crônicos - Redefinição de senha" width="300" height="300"
                style="display: block;">
            </td>
          </tr>
          <tr>
            <td bgcolor="#002d5c" align="center" style="padding: 20px 15px 10px; color: #ffffff; font-family: Arial, sans-serif; font-size: 32px;">
              <b> Informações do usuário </b>
            </td>
          </tr>
          <tr>
            <td bgcolor="#002d5c" align="center" style="padding: 10px 15px 20px; color: #ffffff; font-family: Arial, sans-serif; font-size: 20px;">
              Olá
              <%= name %>!</td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td align="center" style="color: #362d3d; font-family: Arial, sans-serif; font-size: 20px">
                      <b>Aqui está as informações para o acesso.</b>
                    </td>
                  </tr>
                  <tr>
                    <td align=" center" style="padding: 20px 0 15px 0; color: #362d3d; font-family: Arial, sans-serif; font-size: 14px">
                      Seja bem-vindo!<br>Por favor, confira suas informações de cadastro.
                    </td>
                  </tr>
                  <tr>
                    <td align=" center" style="padding: 20px 0 10px 0; color: #362d3d; font-family: Arial, sans-serif; font-size: 14px;text-align:center">
                      Email:
                      <%= email %>
                    </td>
                  </tr>
                  <tr>
                    <td align=" center" style="padding: 0px 0 20px 0; color: #362d3d; font-family: Arial, sans-serif; font-size: 14px; text-align:center">
                      Senha:
                      <%= password %>
                    </td>
                  </tr>
                  <tr>
                    <td align=" center" style="padding: 10px 0 30px 0; color: #362d3d; font-family: Arial, sans-serif; font-size: 14px">
                      Atenciosamente,<br><b>MedMobi Crônicos.</b>
                    </td>
                  </tr>
                  <tr>
                </tbody>
              </table>
            </td>
            </tr>
            <tr>
              <td bgcolor="#002d5c">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="display: block;">
                  <tbody>
                    <tr>
                      <td width="10%" style="padding:30px 30px 30px 30px; color:#bcbcc4; font-family:Arial,sans-serif; font-size:13px; text-align: center;">
                        <p>Copyright 2018. Todos direitos reservados.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
        </tbody>
      </table>
    </center>


  </body>

</html>
